body {
    margin: 0;
}
h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    color: #1b1818;
    margin: 35px;
}